@import url(../style/reset.css);
@font-face {
  font-family: "bold";
  src: url(../assets/font/B612-Bold.ttf);
}
@font-face {
  font-family: "BoldItalic";
  src: url(../assets/font/B612-BoldItalic.ttf);
}
@font-face {
  font-family: "Italicb";
  src: url(../assets/font/B612-Italic.ttf);
}
@font-face {
  font-family: "Regular";
  src: url(../assets/font/B612-Regular.ttf);
}
body {
  overflow: hidden;
}
.flex {
  display: flex;
}
.all {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/img/fundo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.all .top {
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  font-family: "bold";
}
.all .top p {
  font-size: 1.8em;
  padding: 2em 0;
}
.all .top h2 {
  font-size: 8em;
  padding: 0.2em 0;
}
.all .bottom {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.all .bottom .container {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  padding-top: 4em;
}
.all .bottom .container .cape img {
  width: 184px;
  height: 267px;
  border-radius: 20px;
}
.all .bottom .container .content {
  display: flex;
  flex-direction: column;
}
.all .bottom .container .content .description {
  color: #fff;
  font-size: 1.5em;
  width: 826px;
  font-family: "Regular";
  padding-bottom: 1em;
}
.all .bottom .container .content .items {
  align-items: center;
  gap: 100px;
}
.all .bottom .container .content .items .time {
  gap: 10px;
}
.all .bottom .container .content .items .time .clock {
  background-image: url(../assets/img/clock.svg);
  width: 33px;
  height: 31px;
  display: block;
  background-size: 100%;
}
.all .bottom .container .content .items .time span {
  color: #fff;
  font-size: 1.5em;
  font-family: "bold";
}
.all .bottom .container .content .items .stars .icon {
  width: 33px;
  height: 31px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: block;
}
.all .bottom .container .content .items .stars .star {
  background-image: url(../assets/img/star.svg);
}
.all .bottom .container .content .items .stars .star-v {
  background-image: url(../assets/img/star-v.svg);
}
.all .bottom .container .content .items .year {
  font-size: 1.5em;
  font-family: "bold";
  color: #fff;
}
.all .bottom .container .content .button {
  gap: 30px;
  padding-top: 2em;
}
.all .bottom .container .content .button a {
  padding: 14px;
  font-size: 1.2em;
  font-family: "bold";
  text-align: center;
  border-radius: 3px;
  color: #fff;
}
.all .bottom .container .content .button .watch-now {
  width: 184px;
  height: 52px;
  background-color: #0072D2;
}
.all .bottom .container .content .button .trailer {
  width: 115px;
  height: 52px;
  background-color: #131318;
  border: 1px solid #fff;
}
@media (max-width: 1024px) {
  .all .bottom .container .cape {
    display: none;
  }
}
